@{
  ViewBag.Title = "Home Page";
}


<h1>Let's make cocktails!!!</h1>
<p>This information was called from: https://www.thecocktaildb.com/</p>
<p>The URL is https://www.thecocktaildb.com/api/json/v1/1/lookup.php?i=11007</p>
<h2>Drink name:</h2>
<p>@ViewBag.StrDrink</p>
<h2>Required glass</h2>
<p>@ViewBag.StrGlass</p>
<h2>How to make</h2>
<p>@ViewBag.StrInstructions</p>